
head {
    display: none;
}
* {
    color: black;
    margin: 0;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

p {
    margin-bottom: 1rem;
}
.links{
    align-items: center;
}
.icons{
    padding: .5rem;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    text-decoration: none;
}

a:hover{
    color: #3c57ab
}
a{
    transition: color 0.3s;
    padding: .3rem;
    text-decoration: none;
    color: RGB(115,115,115);
}

@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
    h1{
        font-size: 2.5rem;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 400px) {
    body{
        font-size: 12px;
    }
 
}

@media all and (max-width: 399px) and (min-width: 250px) {
    body{
        font-size: 10px;
    }
 
}
